body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    background-color:white;
}

.main {
    display:inline-block;
    background-color:lightgray;
    border-left: 10px dotted lightskyblue;
    padding-left:10px;
    padding-top:10px;
    margin: 10px 5px 0px 0px;
    text-transform:uppercase;
    height:140px;
    width:90px;
}

.box {
    position:relative;
}

#main-bottom {
    position:absolute;
    right:0;
    bottom:0;
    margin:10px 10px 10px 10px;
}

.main:hover, #main-bottom:hover {
    background-color:yellow;
}
